# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Models
*.pkl
*.joblib
*.h5
*.keras

# Sequence Files
*.npy
*.npz

# Large Datasets
*.csv
*.parquet

# Logs
logs/

# OS Files
.DS_Store
Thumbs.db
